{{>header}}
  <title>About Page of Weather App</title>
</head>

<body>
  <!-- Nav Bar -->
  {{>navbar}}
  <!-- Main Header -->
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-6 col-12 mx-auto main_header_right">

            <!-- Picture -->
            <figure>
              <img
                src="https://img.freepik.com/premium-vector/web-developer-works-laptop-horizontal-banner-with-young-programmer-job-colorful-illustration-flat-style_198278-423.jpg?w=2000"
                alt="M Hamza Imtiaz" class="img-fluid">
            </figure>
          </div>

          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to My Website</p>
            <h3>I am Computer Scientist<span class="text-clr"> , MERN Stack Developer</span> and Freelancer</h3>
            <a href="about"><button type="button" class="btn btn-primary">About Me</button></a>
          </div>

        </div>
      </div>
    </div>
    <!-- Footer -->
    {{>footer}}
</body>

</html>